streamlit
PyPDF2
langchain
openai
langchain_openai
pytesseract
pillow
langchain_community
scikit-learn
PyYAML
streamlit
streamlit-authenticator
bcrypt
streamlit_option_menu
pymongo
dnspython
pymongo.mongo_client
pymongo.server_api
