streamlit
PyPDF2
langchain
openai
langchain_openai
langchain_core
pytesseract
pillow
faiss-cpu
langchain_community
scikit-learn
PyYAML
streamlit_authenticator
bcrypt
streamlit_option_menu
pymongo
dnspython
chardet
datetime
langchain_mongodb
requests
numpy
chromadb
schema
googletrans
pytesseract
PyPDF2
pymongo
Pillow
faiss-cpu
streamlit-aws-cognito
